{% extends 'base.html' %}
{% load static %}
{% block title %}<title>ADICIONAR LISTA</title>{% endblock %}
{% block style %}   
    <link rel="stylesheet" href="{% static 'styles/lista/adicionar_lista.css' %}">    
{% endblock %}

{% block body %}
<div class="container">
    <div class="boxForm">
        <form action="{% url 'adiciona_lista' %}" method="post">
            {% csrf_token %}
            <div class="inputbox">
                <ion-icon name="person-outline"></ion-icon>
                <input type="text" name="titulo" id="nome" required>
                <label for="nome">Nome</label>
            </div>
            <div class="inputbox">
                <ion-icon name="person-outline"></ion-icon> 
                <input type="text" name="descricao" required>
                <label for="decricao">Descrição</label> 
            </div>
            
           
            <div class="produtos">
                <h2>Selecionar produtos</h2>
                {% if produtos %}
                <ul>
                    {% for produto in produtos %}
                    <li>
                        <label class="labelcontainer" for="{{produto.nome}}">{{ produto.nome }}
                            <input type="checkbox" name="{{produto.nome}}" id="{{produto.nome}}" value="{{produto.id}}">
                            <span class="check"></span>
                        </label>
                        
                    </li>
                    
                    {% endfor %}
                  
                </ul>
                {% else %}
                <p>Nenhum produto cadastrado</p>
                <p>Cadastre um produto</p>
               
                {% endif %}
         
            </div>
            <input type="submit" value="Adicionar">
        </form>
        
    </div>

</div>

   


{% endblock %}