{% extends 'base.html' %}
{% load static %}

{% block title %}<title>ADDLIST</title>{% endblock %}
{% block style %}
        <link rel="stylesheet" href="{% static 'styles/home/main.css' %}">
{% endblock %}
{% block body %}
<div class="mainpage">

    <ul> 
        {% if listas %} 
        {% for lista in listas %} 
        <li class="container-lista">
            <div class="btns">
                <a href="{% url 'remover_lista' lista.id %}">DELETAR</a>
                <a href="{% url 'page_editar_lista' lista.id %}">EDITAR</a>
            </div>

            <a href="{% url 'lista_id' lista.id %}" style="text-decoration: none;">
                <div class="list-head" style="text-decoration: none;">
                   
                </div>
                <div class="list-body">
                    <div class="titulo-lista">
                        {{ lista.nome }}
                    </div>
                    <div class="desc-lista">
                        {{ lista.descricao }}
                    </div>
                    <div class="data-lista">
                        {{ lista.data }}
                    </div>

                </div>
            </a>
        </li>
       {% endfor %}

       {% else %}
      
       
        <div class="no_listas">
         
            <h1>{{ usuario }} Você ainda não cadastrou nenhuma lista</h1>
            <a href="{% url 'page_adiciona_lista' %}">
                <figure class="gif">
                    <img src="{% static 'midias/gifs/wired-lineal-245-edit-document.gif' %}">
                  </figure>
            
            </a>
        </div>

   
       {% endif %}
    </ul>
</div>
   
{% endblock %}